/* Debian language css file for french - fr */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=fr] q:before { content: "\00AB\00A0"; }
html[lang=fr] q:after { content: "\00A0\00BB"; }
html[lang=fr] q q:before { content: "\201C"; }
html[lang=fr] q q:after { content: "\201D"; }
/* quotes from debian.css */
/*
html[lang="fr"] q:before { content: "\00AB\00A0"; }
html[lang="fr"] q:after { content: "\00A0\00BB"; }
html[lang="fr"] q q:before { content: "\2039\00A0"; }
html[lang="fr"] q q:after { content: "\00A0\203A"; }
*/
html[lang=fr] blockquote.quote p:first-child:before { content: "\00AB\00A0"; }
html[lang=fr] blockquote.quote p:after { content: ""; }
html[lang=fr] blockquote.quote p.last:after { content: "\00A0\00BB"; }
