/* Debian language css file for japanese - ja */
/* please do not touch for now! - Jutta Wrage 2005 */

html[lang=ja] #leftcol ul ul {
	font-size: 0.95em;
}

/* quotes */
html[lang=ja] q:before { content: "\300C"; }
html[lang=ja] q:after { content: "\300D"; }
html[lang=ja] q q:before { content: "\300E"; }
html[lang=ja] q q:after { content: "\300F"; }

html[lang=ja] blockquote.quote p:first-child:before { content: "\300C"; }
html[lang=ja] blockquote.quote p:after { content: ""; }
html[lang=ja] blockquote.quote p.last:after { content: "\300D"; }
