/* Debian language css file for german - de */
/* please do not touch for now! - Jutta Wrage 2005 */

html[lang|=de] #serverselect {}
html[lang|=de] #leftcol ul.votemenu { width: 12em; }

/* quotes ok */
/* quotes with angles */
html[lang=de] q:before { content: "\00BB"; }
html[lang=de] q:after { content: "\00AB"; }
html[lang=de] q q:before { content: "\203A"; }
html[lang=de] q q:after { content: "\2039"; }

html[lang=de] blockquote.quote p:first-child:before { content: "\00BB"; }
html[lang=de] blockquote.quote p:after { content: ""; }
html[lang=de] blockquote.quote p.last:after { content: "\00AB"; }

html[lang=de] blockquote[lang=en].quote p:first-child:before { content: "\201C"; }
html[lang=de] blockquote[lang=en].quote p:after { content: ""; }
html[lang=de] blockquote[lang=en].quote p.last:after { content: "\201D"; }

blockquote[lang=en].quote q:before { content: "\201C"; }
blockquote[lang=en].quote q:after { content: "\201D"; }
blockquote[lang=en].quote q q:before { content: "\2018"; }
blockquote[lang=en].quote q q:after { content: "\2019"; }

#breadcrumbs {
	text-transform: none;
}

/* normal quotes */
/* 
html[lang="de"] q:before { content: "\201E"; }
html[lang="de"] q:after { content: "\201C"; }
html[lang="de"] q q:before { content: "\201A"; }
html[lang="de"] q q:after { content: "\2018"; } 
*/
